# Updates
auto-update-channel = tip

# Always show ghostty as the title
title = ghostty

# Ghostty theme
theme = "Cursor Dark"

# Window settings
window-width = 250
window-height = 60
window-colorspace = display-p3
window-padding-color = background
window-padding-balance = true
window-padding-x = 0
window-padding-y = 0

# macos options
# macos-option-as-alt = true
macos-titlebar-proxy-icon = hidden
macos-titlebar-style = tabs

# Set the background-opacity to be fully opaque
background-opacity = 1.0
# background-blur-radius = 70

font-family = "IBM Plex Mono"
font-style = Regular
font-style-italic = Regular Italic
font-style-bold = Bold
font-style-bold-italic = Bold Italic
font-size = 16
font-thicken = true
font-feature = -liga

# Shell integrations
shell-integration = zsh
quit-after-last-window-closed = true

keybind = shift+enter=text:\n

# Opacity of split windows
unfocused-split-opacity = 0.97

# Cursor style
cursor-style-blink = true

# Clipboard settings
clipboard-read = allow
clipboard-write = allow

# Decrease scroll sensitivity
mouse-scroll-multiplier = 0.4
