theme = dark:catppuccin-mocha,light:catppuccin-latte

window-height = 50
window-width = 230

# background-opacity = 0.85
# background-blur-radius = 70

# font-family = "MesloLGS Nerd Font"
font-family = "IBM Plex Mono"
font-size = 14
font-thicken = true
font-feature = -liga

shell-integration = zsh
